* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.Panel {
  background: #f3b27a;
  color: black;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 1rem;
  /* padding: 0.1rem; */
}
.PanelContent {
  padding: 9px;
  color: darkslategray;
}
.CVWrapper {
  max-width: 210mm;
  max-height: 297mm;
  background: #faebd7;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 2rem;
}

.HeaderTextWrapper {
  display: flex;
  flex-flow: column wrap;
}
.photo {
  /* border: 1px solid; */
  padding: 0px;
  /* align: center; */
  border-radius: 20%;
}
.MainContentWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.InfoSection {
  flex-grow: 1;
  flex-basis: 40%;
  margin: 1rem;
}

.ProjectsExample {
  display: flex;
}

figure {
  width: 55%;
  margin: 0;
}
figcaption {
  text-align: center;
}

.ProjectImg {
  width: 100%;
  /* width: 60%; */
}
.ProjectDescription {
  width: 35%;
  margin-left: 0.5rem;
}
h1 {
  color: black;
  font-weight: 600;
}
h2 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  margin: 0;
}
li {
  text-align: left;
  vertical-align: middle;
}

h2 {
  color: #fff;
}

h3 {
  color: #776e65;
}

h2,
h3 {
  text-transform: uppercase;
}
