body {
  display: flex;
  justify-content: center;
}
.CVWrapper {
  max-width: 210mm;
  max-height: 297mm;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.HeaderTextWrapper {
  display: flex;
  flex-flow: column wrap;
}
.photo {
  border: 1px solid;
  padding: 0px;
  align: center;
}
.MainContentWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.InfoSection {
  flex-grow: 1;
  flex-basis: 40%;
  margin: 1rem;
}

.ProjectsExample {
  display: flex;
}

figure {
  width: 60%;
  margin: 0;
}
figcaption {
}
.ProjectImg {
  width: 100%;
  /* width: 60%; */
}
.ProjectDescription {
  width: 40%;
}
h2 {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
li {
  text-align: left;
  vertical-align: middle;
}

h1,
h2,
h3 {
  color: #1e6ab5;
}

h2,
h3 {
  text-transform: uppercase;
}
